{% from macro('dialog.html.j2') import dialog %}

{% call dialog('new_seed') %}
<div class="flex flex-col min-h-0 space-y-8" x-data>
    <h2 class="text-2xl font-bold shrink-0">Create Seed</h2>
    <form method="post" action="/seeds/" x-ref="form" class="flex flex-col gap-6 min-h-0 flex-1">
        <div class="min-h-0 flex-1 space-y-6 overflow-y-auto px-1 -mx-1">
            <div class="space-y-1">
                <label for="name" class="block text-sm font-bold uppercase">Seed name</label>
                <input type="text" name="name" id="name"
                    class="w-sm border border-zinc-500 rounded-md outline-2 outline-transparent focus:outline-blue-500 duration-150 px-2 py-1">
            </div>
            <div class="space-y-1">
                <label for="description" class="block text-sm font-bold uppercase">Description (optional)</label>
                <textarea rows="4" name="description" id="description"
                    class="w-sm border border-zinc-500 rounded-md outline-2 outline-transparent focus:outline-blue-500 duration-150 px-2 py-1 resize-y"></textarea>
            </div>
            <div class="space-y-1">
                <label for="name" class="block text-sm font-bold uppercase">Schema name</label>
                <input type="text" name="schemaName" id="schemaName"
                    class="w-sm border border-zinc-500 rounded-md outline-2 outline-transparent focus:outline-blue-500 duration-150 px-2 py-1">
            </div>
            <div class="flex gap-4 border border-blue-600 bg-blue-500/20 text-white p-4 w-full max-w-sm rounded-lg">
                <i class="bi bi-info-circle pt-1 text-blue-500"></i>
                <p>At least one schema must be created for the seed at the time of creation.</p>
            </div>
        </div>
        <div class="flex justify-end gap-4 shrink-0">
            <button type="button" class="btn btn-ghost" popovertarget="new_seed" popovertargetaction="hide" x-on:click="$refs.form.reset()">Cancel</button>
            <button type="submit" class="btn btn-primary">Create Seed</button>
        </div>
    </form>
</div>
{% endcall %}