<pre class="select-none brightness-75"><code><span class="text-array-yellow">[</span>
    <span class="text-object-pink">{</span>
        <span class="text-attr-blue">"id"</span><span class="text-punct-gray">:</span>&nbsp;<span class="text-value-salmon">"e3b0f9a2-6d1c-4f8a-9b2e-1a7c4d5e6f01"</span><span class="text-punct-gray">,</span>
        <span class="text-attr-blue">"email"</span><span class="text-punct-gray">:</span>&nbsp;<span class="text-value-salmon">"jordan.reyes@example.com"</span><span class="text-punct-gray">,</span>
        <span class="text-attr-blue">"username"</span><span class="text-punct-gray">:</span>&nbsp;<span class="text-value-salmon">"jordan.reyes"</span>
    <span class="text-object-pink">}</span><span class="text-punct-gray">,</span>
    <span class="text-object-pink">{</span>
        <span class="text-attr-blue">"id"</span><span class="text-punct-gray">:</span>&nbsp;<span class="text-value-salmon">"a7c1d4e8-2f3b-4c9a-8e6d-5b1f2a3c4d02"</span><span class="text-punct-gray">,</span>
        <span class="text-attr-blue">"email"</span><span class="text-punct-gray">:</span>&nbsp;<span class="text-value-salmon">"morgan.lee@example.com"</span><span class="text-punct-gray">,</span>
        <span class="text-attr-blue">"username"</span><span class="text-punct-gray">:</span>&nbsp;<span class="text-value-salmon">"morgan.lee"</span>
    <span class="text-object-pink">}</span>
<span class="text-array-yellow">]</span></code></pre>