{# begin overlay #}
<div class="fixed inset-0 z-50 flex justify-center items-center backdrop-brightness-75 backdrop-blur-xs"
    x-show="showForm" x-on:click="showForm = false" x-transition:enter="duration-200"
    x-transition:enter-start="opacity-0 -translate-y-4" x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="duration-200" x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 -translate-y-4">
    {# begin dialog #}
    <div class="relative space-y-6 bg-white rounded-xl w-xl min-h-0 h-max overflow-y-auto max-h-[80vh] shadow-sm shadow-app-neutral-600 p-6"
        x-on:click.stop>
        <button class="absolute top-2 right-2 p-0.5 rounded-lg hover:bg-neutral-100 duration-150"
            x-on:click="showForm = false">
            <i data-lucide="x" class="size-5 text-app-ink-200"></i>
        </button>
        <div class="space-y-1">
            <h2 class="text-xl font-semibold">New schema</h2>
            <p class="text-zinc-500">A schema is a named list of fields. You'll add the fields next.</p>
        </div>
        <form action="/schemas/" method="post" class="space-y-4" x-on:submit="showForm = false">
            <div class="space-y-2">
                <div class="space-y-1" x-data="{schemaName: ''}">
                    <label for="name" class="block text-sm font-medium">Schema name</label>
                    <div class="input-wrapper">
                        <input type="text" id="name" name="name" class="wrapped-input" x-model="schemaName">
                    </div>
                    <p class="text-sm text-yellow-800" x-show="schemaName.includes(' ')" x-transition x-text="'* Will be saved as ' + schemaName.replaceAll(' ', '_')"></p>
                </div>
                <div class="space-y-1">
                    <label for="description" class="block text-sm font-medium">
                        Description
                        &nbsp;
                        <span class="font-normal text-zinc-500">optional</span>
                    </label>
                    <textarea 
                        id="description" 
                        name="description" 
                        rows="3"
                        class="w-full resize-y px-2 py-1 border border-zinc-300 rounded-lg outline-2 outline-transparent focus:outline-yellow-300 duration-150"
                    ></textarea>
                </div>
            </div>
            <div class="w-full flex items-end">
                <p class="flex-1 text-zinc-500 text-sm">Step 1 of 2</p>
                <div class="flex justify-end items-stretch gap-2">
                    <input
                        type="reset"
                        value="Cancel"
                        class="btn btn-ghost"
                        x-on:click="showForm = false"
                    >
                    <input
                        type="submit"
                        value="Add fields"
                        class="btn btn-primary"
                    >
                </div>
            </div>
        </form>
    </div>
    {# end dialog #}
</div>
{# end overlay #}