{% from macro('tooltip.html.j2') import tooltip %}
{% extends layout('base.html.j2') %}

{% block body %}
<header class="w-full flex items-center bg-zinc-800 px-8 py-3 border-b border-zinc-600">
    <div class="flex-1">
        <a href="/" class="flex items-center gap-2">
            <i class="bi bi-braces text-3xl text-yellow-300"></i>
            <h1 class="text-2xl font-semibold">Seeder</h1>
        </a>
    </div>
    <div class="flex gap-4">
        <button type="button" class="btn btn-ghost">
            Export
            <i class="bi bi-arrow-up-right"></i>
        </button>
        <button type="button" class="btn btn-primary">
            <i class="bi bi-play-fill"></i>
            Generate
        </button>
    </div>
</header>
<div class="flex flex-1">
    <aside class="h-full w-80 border-r border-zinc-600">
        <nav class="flex flex-col py-8 *:px-6">
            <div class="flex items-center">
                <h3 class="flex-1 text-sm font-bold uppercase text-zinc-500">
                    Seeds&nbsp;&middot;&nbsp;<span>{{ seeds | length }}</span>
                </h3>
                {% call tooltip('New seed', 'right') %}
                <a href="/seeds/new" class="text-zinc-500 hover:text-zinc-300 duration-150">
                    <i class="bi bi-plus-lg"></i>
                </a>
                {% endcall %}
            </div>
        </nav>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
{% endblock %}