{% extends layout('seed.html.j2') %}

{% block tab %}
<div>
    <span class="text-sm text-zinc-500 uppercase">schema</span>
    <h2 class="text-2xl font-bold">{{ schema.name }}</h2>
</div>
<div class="w-full overflow-x-auto">
    <table class="w-full border-separate border-spacing-x-0 border-spacing-y-2">
        <caption class="text-left text-zinc-500 uppercase font-semibold">Schema fields</caption>
        <thead>
            <tr>
                <th class="text-sm text-left text-zinc-500 uppercase px-4 py-1">Field</th>
                <th class="text-sm text-left text-zinc-500 uppercase px-4 py-1">Type</th>
                <th class="text-sm text-left text-zinc-500 uppercase px-4 py-1">Generator</th>
            </tr>
        </thead>
        <tbody>
            <tr class="rounded-lg overflow-hidden bg-zinc-800/75">
                <td class="border-y first:border-l first:rounded-l-lg last:border-r last:rounded-r-lg border-zinc-600 px-4 py-3">
                    <p class="text-attr-blue">"id"</p>
                </td>
                <td class="border-y first:border-l first:rounded-l-lg last:border-r last:rounded-r-lg border-zinc-600 px-4 py-3">
                </td>
                <td class="border-y first:border-l first:rounded-l-lg last:border-r last:rounded-r-lg border-zinc-600 px-4 py-3">
                    <p class="text-value-salmon">faker.datatype.uuid()</p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9999">
                    <button class="w-full flex justify-center items-center gap-4 border border-dashed border-zinc-500 text-zinc-500 p-3 rounded-lg hover:bg-zinc-800/75 duration-150">
                        <i class="bi bi-plus-lg"></i>
                        Add a field
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}